<!DOCTYPE html>
<html>
<head>
  <title>NestedFieldsExample</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load('jquery', '1.5');
    google.load('jqueryui', '1.8.9');
  </script>
  <%= javascript_include_tag :defaults, 'nested_fields' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
